/HelloWorld/nbproject/private/
/NumeroPAr/nbproject/private/
/NumeroPar/nbproject/private/
/Contador digitos/nbproject/private/
/ManejoVariables/nbproject/private/
/TiposDatos/nbproject/private/
/ManejoOperadores/nbproject/private/
/ManejoFunciones/nbproject/private/